body, html, ul, li, a, p, h1,
h2, h3, header, figure, figcaption
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.025em;
}

body, html, *:after, *:before
{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1, h2, h3, .fg-title
{
	display: block;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

p
{
	line-height: 1.3em;
	text-align: left;
}

/*.bg-image
{
	background-image: url('../images/bg.jpg');
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}
*/

div.fixed-width nav ul li a:hover
{
	color:#d7d7d7;
}

.clearfix:after 
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*///// HEADER /////*/

header.main-header
{
	position: relative;
	padding-bottom: 2em;
}

.fixed-width
{
	position: relative;
	width: 960px;
	margin: 0 auto;
}
header.main-header .fixed-width nav
{
	float: right;
	display: block;
	text-transform: capitalize;
}

header.main-header nav ul li
{
	float: left;
	display: block;
	padding-top: 1.5em;
	font-family: 'Roboto', sans-serif;
	margin-left: 2em;
}

header.main-header nav ul li a
{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-weight: 400;
}

header.main-header .fixed-width > div.logo 
{
	font-family: 'Pacifico', cursive;
	position: absolute;
	font-size: 2rem;
	top: 0px;
}
/*///// SECTION MAIN-CONTENT /////*/

.main-content figure
{
	padding: 1.5em;
	background: #EFEFEF;
}

.main-content figure .fg-title
{
	padding-bottom: 1em;
	font-weight: 500;
}

.main-content img.random-images
{
	display: block;
}

/*///// FOOTER /////*/

footer
{
	background: rgba(230,230,230, 1);
	border-top: solid 0.15em #F8F8F8;
}

footer .bg-footer
{
	background: rgba(230,230,230, 1);
	text-align: center;
	padding: 1.3em 0;
}

footer .copyrights
{
	font-family: 'Roboto', sans-serif;
}


